
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>jq</title>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
</head>
<body>
    <div> 

        <script type="text/javascript">
            $(document).ready(function () {
                alert("jq");

            });
        </script>
    </div>
</body>
</html>
